{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{% if is_granted("ROLE_USER") %}
    <h1>Mon compte</h1>
{% else %}
    <h1>Créer un compte</h1>
{% endif %}
    {{ form_start(securityForm) }}
        {{ form_row(securityForm.email) }}
        {{ form_row(securityForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(securityForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(securityForm) }}

{% endblock %}
