{% extends 'base.html.twig' %}

{% block body %}
{% if is_granted("ROLE_USER") %}
    <h1>{{ 'My account'|trans }}</h1>
{% else %}
    <h1>{{ 'Create an account'|trans }}</h1>
{% endif %}
    {{ form_start(securityForm) }}
        {{ form_row(securityForm.email) }}
        {{ form_row(securityForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(securityForm.agreeTerms) }}

        <button type="submit" class="btn">{{ 'Register'|trans }}</button>
    {{ form_end(securityForm) }}   

{% endblock %}
