{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">{{ 'Add category'|trans }}</button>
    {{ form_end(form) }}

    <a href="{{ path('category_index') }}">{{ 'Back to list'|trans }}</a>
{% endblock %}