{% extends "base.html.twig" %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
<h1>{{ 'Category serie'|trans }} {{ category.name }} :</h1>

{% for program in programs %}
    <div>
        <h2>{{ program.title }}</h2>
        <p>{{ program.summary }}</p>
        <a href="{{ path("program_show", { slug: program.slug }) }}">{{ 'See the notice'|trans }}</a>
    </div>
{% else %}{{ 'No serie found'|trans }}.{% endfor %}

{% endblock %}