{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'Edit the season'|trans }}</h1>

    {{ include('program/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('program_index') }}">{{ 'Delete'|trans }}</a>

    {{ include('program/_delete_form.html.twig') }}
{% endblock %}
