{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <a href="{{ path('program_new') }}">Ajout à la liste</a></br>
    <a href="{{ path('app_index') }}">Retour à l'accueil</a>
    <h1>Toutes les séries de la table program : </h1>
    <section class="program_index_container">
        {% for program in programs %}
            <figure class="program_index_figure">
                <figcaption class="program_index_figcaption">
                    <p>{{ loop.index }} / {{ program.title }}</p>
                    <p>Catégorie : {{ program.category.name }}</p>
                </figcaption>
                <p class="program_index_p">{{ program.summary }}</p>
                {# Lien vers la fiche de la série : #}
                <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
            </figure>
        {% else %}
            <p>Aucune série trouvée.</p>
        {% endfor %}
    </section>
{% endblock %}
