<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ 'New program'|trans }}</title>
</head>
<body>
    <h1>{{ 'New program'|trans }} {{ program.title }} {{ 'Created'|trans }}</h1>
    <p>{{ 'Hello, the new program'|trans }} {{ program.title }} {{ 'has been created on Wild Series'|trans }}</p>
    <p>{{ 'Summary'|trans }} : {{program.summary }}</p>
</body>
</html>
