{% extends "base.html.twig" %}

{% block body %}
<div class="program_season_show_container">
    <h1>{{ program.title }}</h1>
    <h2>Saison {{ season.number }}</h2>
    <p>Liste des épisodes</p>
    <ul class="program_season_show_ul">
    {% for episode in season.episodes %}
        <li>
            <a href="{{ path('program_episode_show', { 
                program: program.id , season: season.id , episode: episode.id }) }}"
                >Episode {{ episode.number }} : {{ episode.title }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}