{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'Actor'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <td>{{ actor.name }}</td>
            </tr>
        </tbody>
    </table>

    <strong>{{ 'Series'|trans }} :</strong>
    {% if actor.programs %}
    <ul>
        {% for program in actor.programs %}
            <li>
                <a href="{{ path('program_show', { slug: program.slug }) }}">{{ program.title }}</a>
            </li>
        {% else %}
            <li>{{ 'No series for this actor'|trans }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <a href="{{ path('actor_index') }}">{{ 'Back to list'|trans }}</a>

    <a href="{{ path('actor_edit', {'id': actor.id}) }}">{{ 'Edit'|trans }}</a>

    {{ include('actor/_delete_form.html.twig') }}
{% endblock %}
